[project]
	description = Web client for USM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kamlesh kumar verma (kamleshverma1)
[access "refs/for/refs/*"]
	read = group user/kamlesh kumar verma (kamleshverma1)
	push = group user/kamlesh kumar verma (kamleshverma1)
	label-Code-Review = -2..+2 group user/kamlesh kumar verma (kamleshverma1)
	label-Verified = -1..+1 group user/kamlesh kumar verma (kamleshverma1)
	rebase = group user/kamlesh kumar verma (kamleshverma1)
	removeReviewer = group user/kamlesh kumar verma (kamleshverma1)
	submit = group user/kamlesh kumar verma (kamleshverma1)
[access "refs/heads/*"]
	read = group user/kamlesh kumar verma (kamleshverma1)
	create = group user/kamlesh kumar verma (kamleshverma1)
	push = +force group user/kamlesh kumar verma (kamleshverma1)
	pushMerge = group user/kamlesh kumar verma (kamleshverma1)
[access "refs/tags/*"]
	push = +force group user/kamlesh kumar verma (kamleshverma1)
	pushTag = group user/kamlesh kumar verma (kamleshverma1)
	pushSignedTag = group user/kamlesh kumar verma (kamleshverma1)
